
<div class="row">


<form class="login-form">
  <div class="mb-3 row col-5">
    <label for="email-login" class="col-sm-2 col-form-label">Email</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="email-login" value="email@example.com">
    </div>
  </div>
  <div class="mb-3 row col-5">
    <label for="password-login" class="col-sm-2 col-form-label">Password</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="password-login">
    </div>
  </div>
  <div>
    <button type="submit" class="btn btn-dark btn-lg mb-3 row col-5">Login</button>
  </div>
</form>




{{!-- <form class="signup-form">
  <div>
    <label for="username-signup">username:</label>
    <input type="text" id="username-signup" />
  </div>
  <div>
    <label for="email-signup">email:</label>
    <input type="text" id="email-signup" />
  </div>
  <div>
    <label for="password-signup">password:</label>
    <input type="password" id="password-signup" />
  </div>
  <div>
    <button type="submit">signup</button>
  </div>
</form> --}}

<form class="signup-form">
  <div class="mb-3 row col-5">
    <label for="username-signup" class="col-sm-2 col-form-label">UserName</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="username-signup">
    </div>
  </div>
  <div class="mb-3 row col-5">
    <label for="email-signup" class="col-sm-2 col-form-label">Email</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="email-signup">
    </div>
  </div>
  <div class="mb-3 row col-5">
    <label for="password-signup" class="col-sm-2 col-form-label">Password</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="password-signup">
    </div>
  </div>
  <div>
    <button type="submit" class="btn btn-dark btn-lg mb-3 row col-5">SignUp</button>
  </div>
</form>

</div>








<script src="/javascript/login.js"></script>